{% extends "base.html" %}
{% load cms_tags menu_tags %}

{% block base_content %}
	<ul>
	{% for post in posts %}
		<li>
			{{ post.date|date:"d.m.Y." }}
			<a href="{% if post.external_url %}{{ post.external_url }}{% else %}{% url post.detail_url post.id post.slug  %}{% endif %}"{% if post.external_url %} target="_blank" {% endif %}>{{ post.title }}</a>
			{% if post.featured_image %}
				<div>
					<a href="{% if post.external_url %}{{ post.external_url }}{% else %}{% url post.detail_url post.id post.slug  %}{% endif %}"{% if post.external_url %} target="_blank" {% endif %}>
						<img src="{{ post.featured_image.url }}" alt="{{ post.title }}" />
					</a>
				</div>
			{% endif %}
		</li>
	{% endfor %}
	</ul>
{% endblock %}